/*bleu caraïbes clair : #74d1d8
bleu caraïbes foncé : #29b0bb
bleu marine : #2d5380
*/

/*MAIN*/

.body-set{
    overflow-x: hidden;
    width: 100%;
}

body{
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

header{
    background-color: #ffffff;
}

/*NAVBAR*/

.navbar{
    padding: 0 1rem;
}
.div-nav{
    margin: 10px 0;
}

.ul-nav{
    margin-left: 8em;
    color: #2d5380;
}

.phone{
    font-size: 80%;
    color: #ffffff;
    font-weight: bolder;
    background-color: #74d1d8;
    padding: 7px 15px;
    border-radius: 20px;
}

.div-flag{
    margin-left: 15px;
}

.lang-flag{
    border-radius: 10px;
}

.btn-connexion{
    margin-left: 15px;
}

.btn-essai-gratuit{
    margin-left: 15px;
}

/*SECTION 1*/

#section1{
    margin-top: 10%;
}

#div-title-header{
    padding-left: 5em;
    padding-top: 4em;
}

h3.name-product{
    text-transform: uppercase;
    color: #29b0bb;
}

#span-title{
    font-size: 91%;
}

img.image-header{
    width: 100%;
    border-radius: 5px;
}

.btn-commencer{
    background-color: #29b0bb;
    margin-right: 0;
    padding: 16px 32px;
    line-height: 1.5;
    border-radius: 10px;
    color:#ffffff;
}

.div-subtitle{
    margin: 8% 0 8% 0;
    text-align: center;
}

/*SECTION 2*/
.div-supports-browsers{
    padding-top: 6em;
}





#section3{
    margin-top: 10%;
}

.img-multidevices{
    width: 100%;
    border-radius: 5px;
}


#section4{
    margin-top: 10%;
}

.img-screensharing{
    width: 100%;
    border-radius: 5px;
}



.img-vignettes{
    width: 60%;
}